.header {
    border: 1px solid black;
    margin-bottom: 5px;
}

/* Textarea */
.bwp-ta {
    margin-top: 5px;
    /* margin-bottom: 2px; */
}

/* .bwp-btn {
    margin-top: 5px;
    margin-bottom: 10px;
} */

.bwp-row-body {
    padding: 0;
}

input {
    /* color: #000000; */
    color: red;
}

th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

th:first-child {
    border-left: 1px solid #dddddd;
}

::placeholder {
    color: #eeeeee;
    opacity: .5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #eeeeee;
    ;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #eeeeee;
}

input.form-control {
    color: #000000;
    font-weight: 600;
}

select.form-control {
    color: #000000;
    font-weight: 600;
}